numpy
pandas
seaborn
python-dotenv
SQLAlchemy
psycopg2-binary
fastapi
uvicorn
tqdm==4.66.5
flask>=3.0.0
werkzeug>=3.0.0
python-multipart==0.0.9
plotly
requests
groq
langdetect
scikit-learn
pyarrow

# -e .
